DEBUG=False
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1

# Database settings
DB_NAME=movie_review_db
DB_USER=Miki
DB_PASSWORD=Miki@6454
DB_HOST=db
DB_PORT=5432

# TMDB API
TMDB_API_KEY=your_tmdb_api_key

# JWT Settings
JWT_SECRET_KEY=your-jwt-secret-key
JWT_ACCESS_TOKEN_LIFETIME=5
JWT_REFRESH_TOKEN_LIFETIME=1 